.assets-info {
  margin: 1rem 0;
}

.assets-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assets-container h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #34495e;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.left-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-box,
.date-picker {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.fetch-btn {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.fetch-btn:hover {
  background-color: #2980b9;
}

.right-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #34495e;
  cursor: pointer;
}

.icon:hover {
  color: #3498db;
}

/* Scrollable Table Wrapper */
.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%;
  scrollbar-width:none; /* Firefox */
}

.table-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.device-table {
  width: 130%; /* Extend table width to require scrolling */
  border-collapse: collapse;
}

.device-table th,
.device-table td {
  text-align: left;
  padding: 0.8rem;
  border: 1px solid #ddd;
  min-width: 120px; /* Set consistent column width */
}

.device-table th {
  background-color: #f4f6f7;
  font-weight: bold;
  color: #34495e;
}

.device-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.device-table tr:hover {
  background-color: #eaf2f8;
}

.device-table td {
  font-size: 1rem;
  color: #34495e;
}
